/*------- Fonts ------
@import url(http://fonts.googleapis.com/css?family=Coustard|Roboto:400,500,300,700)


// Colors
$primary: rgb(46,204,113)
$complementary: #8e44ad

*:focus
  outline: none

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  font-family: 'Roboto', sans-serif
  background-color: #fafafa
  position: relative

a
  text-decoration: none
  color: inherit

hr
  height: 1px
  width: 100%
  border: 0
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0))

h1, h2
  margin: 0

main
  padding: 1rem

/*------- Header ----------
.every-page-header
  width: 100%
  display: flex
  justify-content: center
  padding: 1.5rem 0
  position: static

.every-page-header--center
  justify-content: center


.title
  display: table
  background: $primary
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  font-family: Coustard, serif
  font-size: 2rem
  letter-spacing: 2px

  &:hover
    background: $complementary
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.title--smaller
  font-size: 2.3rem
  text-align: center
  font-family: Coustard, serif
  letter-spacing: 2px
  color: $complementary
  padding: 1.5rem 0

@media screen and(min-width: 320px)
  .every-page-header
    justify-content: flex-start
    padding: 1rem 0

  .title
    font-size: 1rem
    margin: 0 1rem

@media screen and(min-width: 480px)
  .every-page-header
    justify-content: flex-start
    padding: 1rem 0

  .title
    font-size: 1.5rem
    margin: 0 1rem

@media screen and(min-width: 768px)
  .every-page-header
    justify-content: center

/*---------- Main landing area ---------
section
  margin-top: 3rem

.newgame
  display: flex
  justify-content: center

@media screen and(min-width: 320px)
  .newgame
    flex-direction: column
    align-items: center

@media screen and(min-width: 480px)
  .newgame
    flex-direction: row


/*-------- Buttons ----------
.btn
  padding: 0.7rem 1.7rem
  margin: 1rem
  border-radius: 1.5rem
  border: 1px solid transparent
  color: white
  font-size: 1.5rem
  &:hover
    cursor: pointer
    background-color: white

.btn--primary
  background-color: $primary
  &:hover
    border: 1px $primary solid
    color: $primary

.btn--complementary
  background-color: $complementary
  &:hover
    border: 1px $complementary solid
    color: $complementary

/*------ OnPageLoad animation --------
@keyframes animateIn
  0%
    transform: translateY(-20em)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1

@mixin riseAnim
  animation-name: animateIn
  animation-iteration-count: 1
  animation-timing-function: ease-in-out
  animation-duration: 1s
  animation-fill-mode: both

header, main
  +riseAnim

/*------- Forms, inputs -------

.form
  display: flex
  flex-direction: column
  align-items: center

.form__label
  font-size: 1.3rem
  margin: 1rem 0 0

.form__input
  max-width: 90%
  padding: 0.7rem
  margin: 1rem
  border-radius: 1.5rem
  border: 1px $complementary solid
  text-align: center

#play
  display: none

/*------- Hang new ------------
.hang__container
  display: flex
  flex-direction: column

.hang-area--new
  display: flex
  justify-content: center
  flex-wrap: wrap

@media screen and(min-width: 480px)
  .hang-area--new
    flex-direction: column
    margin: 1rem

@media screen and(min-width: 1200px)
  .hang-area--new
    flex-direction: row

/*------- Secret word ---------

.secret-word__container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.secret-word
  display: flex
  justify-content: center
  align-items: center
  perspective: 500px

.letter
  display: flex
  justify-content: center
  position: relative

  span
    font-family: Coustard, serif
    color: rgb(92, 181, 74)
    text-align: center

.letter span.letters-spin
  animation: spin_letters 1.5s ease-in-out infinite alternate

.letter--overlay.hidden
  transform: rotateX(90deg)
  opacity: 0

.letter--overlay
  width: 100%
  height: 100%
  position: absolute
  background-color: white
  top: 0
  left: 0
  border: 2px $complementary solid
  z-index: 99
  transform-origin: center top
  transition: transform 0.8s ease, opacity 1.4s ease

.remaining_moves
  font-size: 1.3rem
  color: rgb(51, 32, 54)
  span
    color: rgb(92, 181, 74)
  span.critical
    color: rgb(149, 46, 46)

@media screen and(min-width: 320px)
  .secret-word__container
    margin: 2rem 0 0

  .secret-word
    width: 100%

  .letter
    width: 0.8rem
    height: 1.6rem
    padding: 0.2em 0.1em
    margin: 0.3em
    span
      font-size: 1.8rem

@media screen and(min-width: 480px)
  .letter
    width: 1.4rem
    height: 2.2rem
    padding: 0.2em 0.1em
    margin: 0.3rem
    span
      font-size: 2.3rem

@media screen and(min-width: 650px)
  .letter
    width: 1.5em
    height: 2.3em
    padding: 0.5em
    margin: 0.7em
    span
      font-size: 2.5rem

@media screen and(min-width: 1210px)
  .secret-word__container
    margin-left: 10em
/*------- Choice ----------
.choice
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  box-sizing: border-box

.choice__cta
  padding: 1em 0
  text-align: center
  color: rgb(150, 95, 160)

.alphabet
  display: flex
  flex-wrap: wrap
  justify-content: center
  width: 50%

.alphabet__letter
  display: flex
  justify-content: center
  width: 1rem
  height: 2rem
  padding: 0.5rem
  margin: 0.5rem
  background-color: rgb(199, 229, 192)
  border-radius: 2em

.alphabet__letter span
  font-size: 1.5em
  font-family: Coustard, serif
  color: rgb(51, 32, 54)
  text-align: center

.alphabet__letter:hover
  cursor: pointer
  background-color: rgb(92, 181, 74)

.alphabet__letter--used
  background-color: rgb(219, 201, 223)
  pointer-events: none

  &:hover
    cursor: auto
    background-color: rgb(219, 201, 223)

@media screen and(min-width: 320px)
  .choice
    margin: 0

  .alphabet
    width: 100%

@media screen and(min-width: 480px)
  .choice
    margin: 0

  .alphabet
    width: 80%

@media screen and(min-width: 910px)
  .alphabet
    width: 70%

@media screen and(min-width: 1210px)
  .choice
    margin: 2rem 0 0

  .alphabet
    width: 50%

/*---------- Glow ------------

@-webkit-keyframes spin
  from
    transform: rotateZ(0)
  to
    transform: rotateZ(360deg)


.spinner
  animation:
    name: spin
    duration: 0.8s
    iteration-count: 1
  transition: transform 0.8s ease

.glow
  border-color: $primary
  box-shadow: 0 0 5px 5px $primary

/*--------- Modal ----------
.modal
  display: none
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgb(0, 0, 0)
  background-color: rgba(0, 0, 0, 0.6)

/* Modal Header

.modal__header
  display: flex
  justify-content: space-between
  align-items: center
  text-align: center
  padding: 1.5em
  background-color: $primary
  border-radius: 1em 1em 0 0
  color: white

.modal__header h2
  margin: auto

/* Modal Body

.modal__body
  padding: 1em
  display: flex
  flex-direction: column
  align-items: center

.modal__secret
  font-size: 1.5rem

/* Modal Content

.modal__content
  position: relative
  top: calc(50% - 220px)
  background-color: #fefefe
  margin: auto
  padding: 0
  border: 1px solid #888
  border-radius: 1em
  width: 40%
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  animation-name: animatetop
  animation-duration: 0.4s

/* The Close Button

.modal__close
  align-self: flex-start
  color: white
  font-size: 2.6em
  font-weight: bold
  &:hover, &:focus
    color: black
    text-decoration: none
    cursor: pointer

@media screen and(min-width: 320px)
  .modal__content
    width: 90%

  .modal__header
    font-size: 0.8rem

@media screen and(min-width: 480px)
  .modal__content
    width: 70%

  .modal__header
    font-size: 0.8rem

@media screen and(min-width: 768px)
  .modal__content
    width: 50%

@media screen and(min-width: 1210px)
  .modal__content
    width: 40%

/* Add Animation
@keyframes animatetop
  from
    top: -30em
    opacity: 0

  to
    top: calc(50% - 220px)
    opacity: 1

/*-------- Text spin ---------

@keyframes spin_letters
  from
    transform: rotateY(0)

  to
    transform: rotateY(360deg)

/*--------- Load game -----------

.load-container
  display: flex
  flex-direction: column
  align-items: center

.load-list__container
  max-width: 80%
  margin: 0
  padding: 40px
  display: flex
  justify-content: center
  flex-wrap: wrap

.load-list__wrapper
  background-color: white
  width: 11em
  padding: 1.5em
  margin: 1em
  border: 1px lightgrey solid
  transition: all 0.3s ease
  box-shadow: 0 10px 6px -6px #777

  &:hover
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

.load-list__cell
  text-align: center

.load-list__cell__header
  color: $complementary
  margin: 0 0 1em

.load-list__cell__content
  margin: 0

/* -------- Menu -----------
.menu
  position: absolute !important
  top: 1.5rem
  right: 1.5rem
  display: flex
  flex-direction: column
  justify-content: space-between

  &:hover
    cursor: pointer

  &:hover span
    background-color: $complementary


.menu span
  margin: 0.2rem 0
  width: 3rem
  height: 0.5rem
  border-radius: 1rem
  background-color: $primary

.nosaved
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center


.flash-notice
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 99
  background-color: $primary
  text-align: center

  h3
    color: white

@media screen and(min-width: 320px)
  .menu
    top: 0.8rem
    right: 1rem

  .menu span
    margin: 0.2rem 0
    width: 2rem
    height: 0.3rem

@media screen and(min-width: 480px)
  .menu
    top: 1.2rem
    right: 1.4rem

  .menu span
    margin: 0.2rem 0
    width: 2.5rem
    height: 0.5rem
