/*------- Fonts ------
@import url(http://fonts.googleapis.com/css?family=Coustard|Roboto:400,500,300,700)


// Colors
$primary: rgb(46,204,113)
$complementary: #8e44ad

*:focus
  outline: none

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  font-family: 'Roboto', sans-serif
  background-color: #fafafa

a
  text-decoration: none
  color: inherit

hr
  height: 1px
  width: 100%
  border: 0
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0))

h1, h2
  margin: 0

/*------- Header ----------
.every-page-header
  display: flex
  justify-content: center
  position: relative
  padding: 1.5rem 0

.title
  display: table
  background: linear-gradient(330deg, $primary 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, $complementary 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  text-align: center
  font-family: Coustard, serif
  font-size: 2rem
  letter-spacing: 2px

  &:hover
    background: linear-gradient(330deg, $complementary 0%, #9952e0 25%, #52e0e0 50%, #99e052 75%, $primary 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.title--smaller
  font-size: 2.3rem
  text-align: center
  font-family: Coustard, serif
  letter-spacing: 2px
  color: $complementary
  padding: 1.5rem 0

/*---------- Main landing area ---------
section
  margin-top: 3rem

.hang-area
  display: flex
  justify-content: center
  align-items: center

.newgame
  display: flex
  justify-content: center


/*-------- Buttons ----------
.btn
  padding: 0.7rem 1.7rem
  margin: 1rem
  border-radius: 1.5rem
  border: 1px solid transparent
  color: white
  font-size: 1.5rem
  &:hover
    cursor: pointer
    background-color: white

.btn--primary
  background-color: $primary
  &:hover
    border: 1px $primary solid
    color: $primary

.btn--complementary
  background-color: $complementary
  &:hover
    border: 1px $complementary solid
    color: $complementary

/*------ OnPageLoad animation --------
@keyframes animateIn
  0%
    transform: translateY(-20em)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1

@mixin riseAnim
  animation-name: animateIn
  animation-iteration-count: 1
  animation-timing-function: ease-in-out
  animation-duration: 1s
  animation-fill-mode: both

header, main
  +riseAnim

/*------- Forms, inputs -------

.form
  display: flex
  flex-direction: column
  align-items: center

.form__label
  font-size: 1.3rem
  margin: 1rem 0 0

.form__input
  padding: 0.7rem
  margin: 1rem
  border-radius: 1.5rem
  border: 1px $complementary solid
  min-width: 20rem
  text-align: center

#play
  display: none

/*------- Hang new ------------
.hang__container
  display: flex
  flex-direction: column

.hang-area--new
  display: flex
  justify-content: center
  flex-wrap: wrap

/*------- Secret word ---------

.secret-word__container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.secret-word
  margin-left: 10em
  display: flex
  justify-content: center
  align-items: center
  perspective: 500px

.letter
  display: flex
  justify-content: center
  position: relative
  width: 1.5em
  height: 2.3em
  padding: 0.5em
  margin: 0.7em

  span
    font-size: 2.5em
    font-family: Coustard, serif
    color: rgb(92, 181, 74)
    text-align: center

.letter span.letters-spin
  animation: spin_letters 1.5s ease-in-out infinite alternate

.letter--overlay.hidden
  transform: rotateX(90deg)
  opacity: 0

.letter--overlay
  width: 100%
  height: 100%
  position: absolute
  background-color: white
  top: 0
  left: 0
  border: 2px $complementary solid
  z-index: 99
  transform-origin: center top
  transition: transform 0.8s ease, opacity 1.4s ease

.remaining_moves
  margin-left: 10em
  font-size: 1.3rem
  color: rgb(51, 32, 54)
  span
    color: rgb(92, 181, 74)
  span.critical
    color: rgb(149, 46, 46)

/*------- Choice ----------
.choice
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.choice__cta
  padding: 1em 0
  text-align: center
  color: rgb(150, 95, 160)

.alphabet
  display: flex
  flex-wrap: wrap
  justify-content: center
  width: 50%

.alphabet__letter
  display: flex
  justify-content: center
  width: 1rem
  height: 2rem
  padding: 0.5rem
  margin: 0.5rem
  background-color: rgb(199, 229, 192)
  border-radius: 2em

.alphabet__letter span
  font-size: 1.5em
  font-family: Coustard, serif
  color: rgb(51, 32, 54)
  text-align: center

.alphabet__letter:hover
  cursor: pointer
  background-color: rgb(92, 181, 74)

.alphabet__letter--used
  background-color: rgb(219, 201, 223)
  pointer-events: none

  &:hover
    cursor: auto
    background-color: rgb(219, 201, 223)

/*---------- Glow ------------

@-webkit-keyframes spin
  from
    transform: rotateZ(0)
  to
    transform: rotateZ(360deg)


.spinner
  animation:
    name: spin
    duration: 0.8s
    iteration-count: 1
  transition: transform 0.8s ease

.glow
  border-color: $primary
  box-shadow: 0 0 5px 5px $primary

/*--------- Modal ----------
.modal
  display: none
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgb(0, 0, 0)
  background-color: rgba(0, 0, 0, 0.6)

/* Modal Header

.modal-header
  display: flex
  justify-content: space-between
  align-items: center
  text-align: center
  padding: 1.5em
  background-color: $primary
  border-radius: 1em 1em 0 0
  color: white

.modal-header h2
  margin: auto

/* Modal Body

.modal-body
  padding: 1em
  display: flex
  flex-direction: column
  align-items: center

/* Modal Content

.modal-content
  position: relative
  top: 20%
  background-color: #fefefe
  margin: auto
  padding: 0
  border: 1px solid #888
  border-radius: 1em
  width: 40%
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  animation-name: animatetop
  animation-duration: 0.4s

.modal__secret
  font-size: 1.5em
  span
    color: $complementary

/* The Close Button

.modal-close
  align-self: flex-start
  color: white
  font-size: 2.6em
  font-weight: bold
  &:hover, &:focus
    color: black
    text-decoration: none
    cursor: pointer

/* Add Animation
@keyframes animatetop
  from
    top: -20em
    opacity: 0

  to
    top: 20%
    opacity: 1

/*-------- Text spin ---------

@keyframes spin_letters
  from
    transform: rotateY(0)

  to
    transform: rotateY(360deg)

/*--------- Load game -----------

.load-container
  display: flex
  flex-direction: column
  align-items: center

.load-list__container
  max-width: 80%
  margin: 0
  padding: 40px
  display: flex
  justify-content: center
  flex-wrap: wrap

.load-list__wrapper
  background-color: white
  width: 11em
  padding: 1.5em
  margin: 1em
  border: 1px lightgrey solid
  transition: all 0.3s ease
  box-shadow: 0 10px 6px -6px #777

  &:hover
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

.load-list__cell
  text-align: center

.load-list__cell__header
  color: $complementary
  margin: 0 0 1em

.load-list__cell__content
  margin: 0

/* -------- Menu -----------
.menu
  position: absolute
  top: 0.9em
  right: 0.9em
  margin: 1em
  display: flex
  flex-direction: column
  justify-content: space-between

  &:hover
    cursor: pointer

  &:hover span
    background: linear-gradient(330deg, $complementary 0%, #9952e0 25%, #52e0e0 50%, #99e052 75%, $primary 100%)


.menu span
  margin: 0.2em 0
  width: 3em
  height: 0.5em
  border-radius: 1em
  background: linear-gradient(330deg, $primary 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, $complementary 100%)

.nosaved
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.saved__tooltip
  position: absolute
  top: 0
  left: 0
  right: 0
  background-color: $primary
  text-align: center

  h3
    color: white
